.detalle{
    background-color: lightgray;
    transition: 0.8s;
}

.detalle:hover{
    background-color: gray;
    color:white;
    transition: all 0.5s;
    font-weight: bold;
}

.detalle.selected{
    background-color: black;
    color:white;
    transition: all 0.3s;
    font-weight: bold;
}